@{
	Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2 id="title">Add a new client</h2>

<hr />

@if(ViewBag.StylistsCount < 1)
{
	<h3>There are no stylists yet. Add a stylist first to add a client to them!</h3>

	<hr />

	<p>
		@Html.ActionLink("Add a new stylist", "Create", "Stylists")
		|
		@Html.ActionLink("Go to homepage", "Index", "Home")
	</p>
}
else
{
	@using (Html.BeginForm())
	{
		@Html.LabelFor(model => model.Name)
		<br>
		@Html.TextBoxFor(model => model.Name, new { @required = true, placeholder = "Name for client" })
		<br>
		@Html.LabelFor(model => model.Stylist)
		<br>
		@Html.DropDownList("StylistId")
		<br><br>
		@Html.LabelFor(model => model.DateOfLastVisit)
		<br>
		<input id="date" name="DateOfLastVisit" type="date" value="@string.Format("{0:yyyy-MM-dd}", DateTime.Now)" required>
		<br><br>
		<input type="submit" value="Add a new client" />
	}

	<hr />

	<p>
		@Html.ActionLink("View all clients", "Index")
		|
		@Html.ActionLink("Go to homepage", "Index", "Home")
	</p>
}