@{
	Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2 id="title">Client Details</h2>

<hr />

<h3><b>@Html.DisplayNameFor(model => model.Name):</b> @Html.DisplayFor(model => model.Name)</h3>
<h4><b>@Html.DisplayNameFor(model => model.Stylist):</b> @Html.DisplayFor(model => model.Stylist.Name)</h4>
<h4><b>Last visit:</b> @Model.DateOfLastVisit.ToShortDateString()</h4>

<hr />

<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.ClientId })
	|
	@Html.ActionLink("Delete", "Delete", new { id = Model.ClientId })
	|
	@Html.ActionLink("View all clients", "Index")
	|
	@Html.ActionLink("Go to homepage", "Index", "Home")
</p>