@{
	Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2 id="title">Edit Client</h2>

<hr />

<h3>Editing client: <b>@Html.DisplayFor(model => model.Name)</b></h3>

@using (Html.BeginForm())
{
	@Html.HiddenFor(model => model.ClientId)

	@Html.LabelFor(model => model.Name)
	<br>
	@Html.EditorFor(model => model.Name)
	<br>
	@Html.LabelFor(model => model.Stylist)
	<br>
	@Html.DropDownList("StylistId")
	 <br><br>
	@Html.LabelFor(model => model.DateOfLastVisit)
	 <br>
	 <input id="date" , name="DateOfLastVisit" , type="date">
	<br><br>
	<input type="submit" value="Save" />
}

<hr />

<p>
	@Html.ActionLink("View all clients", "Index")
	|
	@Html.ActionLink("Go to homepage", "Index", "Home")
</p>